:root {
  --main-color: #3d4149;
  --dark-color: #101010;
  --light-color: #d4d9df;
  --side-color: #3d52a5;
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* navbar */
/* navbar */

/* giriş ekranı */
/* giriş ekranı */

/* biz kimiz */
/* biz kimiz */

/* takım sayfası */
/* takım sayfası */

/* galeri */

.galeri_content:after
{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}

.fl{float:left;} .fr{float:right;} 

.image-div{margin: 10px 10px 0;padding: 10px 10px;position: relative;color:#222;background-color:--main-color #3d4149;border:1px solid #000;} 
    .image-div .image{position:relative;} 
       .image-div .image img{position:relative;background:none repeat scroll 0 0 transparent;padding: 2px;border: 1px solid #ccc;margin: 0 0 0 0;} 
    .image-div .image-div-content{position: relative;} 
        .image-div .image-div-content .row{margin: 0 0 0 0;padding: 0 0 4px 0;position: relative;}

/* galeri */

/* iletişim */
/* iletişim */

/* footer */
/* footer */

/* responsiveness */
/* responsiveness */
