:root {
  --main-color: #3d4149;
  --dark-color: #101010;
  --light-color: #d4d9df;
  --side-color: #3d52a5;
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/* navbar */

.header {
  height: 20vh;
  background: transparent;
  top: 0;
  z-index: 1;
  width: 100%;
  position: absolute;
  transition: ease 400ms;
}

.h-active {
  position: fixed;
  height: 10vh;
  background: var(--main-color);
  top: 0;
  z-index: 5;
  width: 100%;
  transition: ease 300ms;
}

.h-active:hover {
  height: 15vh;
}

.navbar-wrapper {
  height: 100%;
  padding: 0 3.2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.asimov-logo {
  height: 100%;
}

.asimov-logo img {
  position: relative;
  left: 50%;
  top: 10%;
  width: 13vw;
  height: 80%;
  object-fit: contain;
  cursor: pointer;
}

.asimov-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menu-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  position: absolute;
  padding-right: 1rem;
  align-items: center;
  z-index: 5;
  right: 8%;
  gap: 2rem;
}

.navbar-menu-item {
  margin-right: 2.5rem;
  position: relative;
}

.menu-list a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.6rem;
  padding-right: 10px;
  cursor: pointer;
}

.nav-toggle {
  align-items: center;
  display: flex;
  position: absolute;
  right: 3rem;
}

.nav-toggle a {
  text-decoration: none;
  color: var(--white);
  border: var(--black) solid 1px;
  border-radius: 50%;
  color: var(--black);
  width: 36px;
  height: 36px;
  background-color: var(--white);
  margin-right: 5px;
  font-size: x-large;
  font-weight: 500;
  z-index: 5;
  /* transition: ease 400ms; */
  text-align: center;
  padding-top: 3px;
}

.nav-toggle a:hover {
  background-color: var(--light-color);
  color: var(--main-color);
}

.nav-toggle i {
  color: var(--white);
  cursor: pointer;
  font-size: 1.6rem;
  margin-left: 5px;
  z-index: 1;
}

.nav-toggle i:hover {
  color: var(--light-color);
}

.nav-list {
  display: none;
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

/* Hoverler */

.asimov-menu .menu-list a:hover {
  border-bottom: 1px solid #fff;
}

.asimov-menu .menu-list a {
  display: block;
}

/* Drop Down Kısmı */
.drop-down-menu1,
.drop-down-menu2 {
  display: block;
  /* opacity: 0; */
  height: 0;
  width: 150px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  /* background-color: var(--dark-color); */
  color: var(--white);

  z-index: 1;
  padding-left: 0;
  text-align: center;
  transition: ease 300ms;
}

.drop-down-menu1 li,
.drop-down-menu2 li {
  display: block;
  background-color: var(--dark-color);
}

.drop-down-menu1 li a,
.drop-down-menu2 li a {
  padding: 1rem;
  text-decoration: none;
  font-size: medium;
  font-weight: 400;
}

.navbar-menu-item:hover .drop-down-menu1 {
  height: 300px;
}
.navbar-menu-item:hover .drop-down-menu2 {
  height: 300px;
}

/* Responsive */

@media (max-width: 1040px) {
  .header {
    height: auto;
    width: 100%;
    z-index: 5;
    position: block;
    background-color: #3d4149c0;
  }

  .asimov-logo {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 18vw;
    height: 20vw;
  }

  .asimov-logo img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .navbar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    z-index: 6;
  }

  .asimov-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 0;
    visibility: hidden;
    transition: 0.7s;
    overflow-x: hidden;
  }

  .active {
    height: 85vh;
    transition: 0.7s;
    visibility: inherit;
  }

  .h-active:hover {
    height: initial;
  }

  .menu-list {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 33%; */
    z-index: 8;
    padding-right: 0;
  }

  .navbar-menu-item {
    position: relative;
    margin-left: 45px;
  }
  .nav-toggle {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-items: center;
    margin-left: 10px;
  }

  .nav-toggle i {
    display: block;
    font-size: 1.7rem;
    margin-right: 5px;
    cursor: pointer;
    z-index: 2;
  }

  .drop-down-menu1,
  .drop-down-menu2 {
    height: 0;

    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: transparent;
    color: var(--white);

    z-index: 1;
  }

  .drop-down-menu1 li,
  .drop-down-menu2 li {
    display: block;
  }

  .drop-down-menu1 li a,
  .drop-down-menu2 li a {
    padding: 0.2rem;
    text-decoration: none;
    font-size: 1.3rem;
  }

  .navbar-menu-item:hover .drop-down-menu1,
  .navbar-menu-item:hover .drop-down-menu2 {
    height: 300px;
  }

  .nav-list {
    display: block;
    margin-left: 10px;
    z-index: 2;
    position: absolute;
    right: 15px;
    top: 2%;
  }
  .nav-list i {
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.7s;
    z-index: 2;
  }
}
/* navbar */

/* giriş ekranı */

.main-screen {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  /* scrollbar-width: 0px; */
  /* background: url("Asimov_Logolar - Kopya/asimovmainbackground.png");
  background-repeat: no-repeat;
  background-position: 0px, 0px;
  background-size: ;
  transition: background-position 400ms; */
  transform: scale(1);
  user-select: none;
  cursor: pointer;
}

.main--bgImg {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  user-select: none;
}

.main--bgImg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  height: 125vh;
  width: 125vw;
  object-fit: cover;
  user-select: none;
}

.container-screen {
  height: 100%;
}
.mainscreenContainer {
  height: 100vh;
  display: flex;
  align-items: center;
}

#mainscreenlogo {
  position: absolute;
  right: 40px;
  top: -100px;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  transition: 0.6s all;
  filter: drop-shadow(0px 0px 20px var(--black));
  z-index: -1;
}
.logo-animation {
  animation-name: logo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes logo {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slogan {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}
.mainscreensSlogan {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 65px;
  position: absolute;
  top: 400px;
  color: #d4d9df;
  transition: 0.6s all;
  margin-left: 60px;
  letter-spacing: 1px;
  z-index: -1;
  display: grid;
  grid-template-rows: auto auto;
}

#slogan1 {
  animation: popout 3s linear infinite;
}
#slogan2 {
  animation: popout 3s linear infinite;
  animation-delay: 200ms;
}

@keyframes popout {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
  }
}

.sidebar {
  width: 0%;
  height: 100vh;
  background-color: #fff;
  transition: 600ms ease;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 15;
  padding-top: 7%;
  display: initial;
  scroll-snap-type: x mandatory;
  opacity: 0;
  box-shadow: -15px 0px 40px 5px rgba(0, 0, 0, 0.75);
  border-left: var(--black) 1px solid;
}

.mainscreenSecond {
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: 1s ease;
  position: absolute;
  top: 10vw;
  gap: 5px;
}

.mainSidebar {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-y: scroll;
}

.mainscreeniconButton {
  color: #d4d9df;
  transition: ease 400ms;
  z-index: 1;
  font-size: 20px;
  position: absolute;
  top: 90vh;
  right: 4vw;
}

#kaydır-icon {
  color: #d4d9df;
  transition: ease 400ms;
  z-index: 1;
  font-size: 20px;
  position: absolute;
  top: 90vh;
  right: 4vw;
  transform: translate(200%, 10%);
}

.go_back_btn {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 30px;
  left: 2vw;
  transition: 500ms;
  cursor: pointer;
}

.go_back_btn:hover {
  background-color: #000;
  color: #fff;
  transform: translateX(-15%);
  z-index: 50;
}

.go_back_btn i:hover {
  color: #fff;
}

.go_back_btn_closs {
  width: 0%;
}
/* go back btn */

.mainnewspage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  box-shadow: -10px 10px #3d4149;
  width: 85%;
  margin-left: 8%;
  margin-bottom: 3%;
  position: relative;
  gap: 30px;
}

.mainimagepage {
  width: 150px;
  height: 150px;
  margin-left: 5px;
}

.maintextpage {
  background-color: #fff;
  font-family: sans-serif;
  text-align: left;
  margin-left: 5px;
  width: 85%;
  height: auto;
  font-size: 14px;
}

.sidebar-header {
  padding: 20px 20px;
  width: 100%;
  background: var(--main-color);
  top: 0px;
  position: absolute;
}

.sidebar-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  position: relative;
}

.sidebar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 15px;
  list-style: none;
}

.sidebar-list-item {
  margin-right: 60px;
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--white);
  border-bottom: 1px solid transparent;
}

.sidebar-list-item a {
  color: var(--white);
}

.sidebar-list-item:hover {
  border-bottom: 1px solid var(--white);
}

.sidebar-toggle i {
  cursor: pointer;
  color: var(--white);
  font-size: 1.6rem;
  margin-left: 60px;
}

.sidebar-toggle a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.8;
  padding: 10px 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-toggle a:hover {
  background-color: var(--white);
  color: var(--black);
}

.sidebar-list-menu {
  display: none;
}

@media (max-width: 887px) {
  #mainscreenlogo {
    width: 350px;
    height: 350px;
    top: 16%;
    right: 2%;
    transition: 0.6s all;
    z-index: -1;
    position: absolute;
  }
  .mainscreensSlogan,
  .mainscreensSlogan2 {
    font-size: 2.2rem;
    transition: 0.6s all;
    z-index: -1;
  }
  .mainscreensSlogan p {
    margin-bottom: 0;
  }

  .mainscreensSlogan2 {
    top: 73%;
  }
  /* .mainscreeniconButton {
    right: 2%;

    font-size: 1rem;
    bottom: 0;
    z-index: 1;
  }

  #kaydır-icon {
    right: 6%;

    font-size: 1rem;
    top: 93%;
    transform: translateY(50%);
    z-index: 1;
  } */

  .main--bgImg img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    height: 125vh;
    width: 125vw;
    object-fit: cover;
  }

  /* İkinci sayfa responsive */
  .sidebar {
    height: auto;
  }
  .mainSidebar {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    position: relative;
  }

  .mainnewspage {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
  }
  .mainimagepage {
    display: flex;

    align-items: center;
    justify-content: center;
    column-gap: 15px;
    flex-direction: row;
  }

  .mainscreenSecond {
    position: relative;
  }

  .mainscreenSecond button {
    margin-bottom: 14px;
    z-index: 11;
  }
  .go_back_btn {
    width: 25px;
    height: 25px;
    font-size: 15px;
    position: fixed;
    top: 30px;
    left: 4vw;
  }

  .sidebar-header {
    /* height: 80px; */
    overflow-y: hidden;
    z-index: 10;
    position: block;
  }

  .sidebar-navbar {
    /* height: 5%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
  }

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    opacity: 0;
    height: 30px;
    transition: 0.7s;
    overflow-y: hidden;
  }

  .sidebar-active {
    height: 300px;
    transition: 0.7s;
    opacity: 1;
  }

  .sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin-left: 15px;
  }

  .sidebar-list-item {
    margin-left: 60px;
  }

  .sidebar-list-item a {
    display: block;
  }

  .sidebar-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
  }

  .sidebar-toggle i {
    margin-right: 60px;
    margin-top: 10px;
  }
  .sidebar-list-menu {
    top: 0;
    right: 0;
    color: var(--white);
    font-size: 1.5rem;
    position: absolute;
    cursor: pointer;
    display: block;
    z-index: 11;
  }
  #kaydır {
    right: 7vw;
  }
  #kaydır-icon {
    right: 7vw;
  }
}

/* giriş ekranı */

/* biz kimiz */
.bizkimiz--section {
  position: relative;
  /* top: 100vh; */
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 3vw;
  height: 100%;
}

.bizkimiz--content {
  width: 40%;
  border-left: var(--side-color) 4px solid;
  padding-left: 20px;
  margin-left: 100px;
}

.bizkimiz--content h1 {
  font-size: xx-large;
  font-weight: bolder;
  color: var(--black);
  margin: 0;
}

.hakkımızda_link {
  display: inline-block;
  position: relative;
  color: var(--black);
}

.hakkımızda_link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--side-color);
  transform-origin: bottom right;
  transition: transform 300ms ease-out;
}

.hakkımızda_link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: var(--side-color);
}

.bizkimiz--img_slider {
  position: absolute;
  right: 200px;
  top: 100px;
  float: right;
  display: inline;
  width: 700px;
  height: 360px;
}

.slides {
  background-color: var(--light-color);
  border: var(--side-color) 10px outset;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 15px;
  overflow: hidden;
}

.slide {
  position: absolute;
  opacity: 0%;
  transition: ease 200ms;
}

.slide img {
  width: 101%;
  height: 101%;
  object-fit: cover;
}
.bizkimiz--img_slider .arrows {
  display: grid;
  width: 100%;
  grid-template-columns: 35px 35px;
  column-gap: 87%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;

  z-index: 3;
}

.bizkimiz--img_slider .arrows .arrow-left,
.bizkimiz--img_slider .arrows .arrow-right {
  transform: translateY(-50%);
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: var(--light-color);
  background-color: var(--main-color);
  opacity: 60%;
  font-size: xx-large;
  cursor: pointer;
}
.bizkimiz--img_slider .arrows .arrow-left {
  margin-left: 10px;
}
.bizkimiz--img_slider .arrows .arrow-right {
  margin-right: 10px;
}

.bizkimiz--img_slider .arrow-right:hover,
.bizkimiz--img_slider .arrow-left:hover {
  opacity: 90%;
  color: var(--side-color);
  background-color: var(--white);
  border-radius: 50%;
}

.bizkimiz--img_slider .dots {
  font-size: 12px;
  color: var(--light-color);
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  display: grid;
  grid-template-rows: 15px;
  grid-template-columns: repeat(auto-fill, 15px);
  width: 75px;
  height: 15px;
  column-gap: 5px;
  transition: ease 300ms;
  z-index: 5;
}

.bizkimiz--img_slider .dots .dot {
  cursor: pointer;
}

.bizkimiz--img_slider .dots .dot[data-dot="selected"] {
  color: var(--side-color);
  text-shadow: 0px 0px 2px var(--black);
}

.bizkimiz--text_slider {
  position: relative;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
  text-align: center;
  width: 70%;
  justify-content: center;
  padding-bottom: 50px;
}

.bizkimiz--text_slider .tags {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  column-gap: 20%;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  position: relative;
  left: 50%;
  top: 13px;
  transform: translateX(-50%);
  position: relative;
}

.bizkimiz--text_slider .tags .tag {
  height: 25px;
  width: 100%;
  border-radius: 15px;
  background-color: var(--light-color);
  padding-top: 5px;
  font-weight: 600;
  transition: ease 300ms;
  cursor: pointer;
}

.bizkimiz--text_slider .tags .tag[data-tag="selected"] {
  background-color: var(--side-color);
  color: var(--white);
  transform: translateY(-5px);
  box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.75);
}

.bizkimiz--text_slider .texts {
  border: var(--light-color) 3px solid;
  border-radius: 15px;
  padding: 20px;
  height: 200px;
  padding-top: 50px;
}

.bizkimiz--text_slider .texts .text-slide {
  display: none;
  position: absolute;
  transition: ease 300ms;
  width: 70%;
}
.bizkimiz--text_slider .texts .text-slide[data-text="show"] {
  display: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* biz kimiz */

/* takım sayfası */
/* takım sayfası */

.new_div {
  width: 100%;
  height: 100%;
  position: absolute;
  /* top: 10vh; */
  transform: translateY(17%);
  left: 0;
  background-color: #000000cc;
  z-index: 2;
  font-size: larger;
  font-weight: bolder;
  display: none;
  cursor: pointer;
  transition: ease 300ms;
}

.new_div img {
  left: 0;
  height: 100%;
  width: 50%;
  object-fit: contain;
  background-color: var(--dark-color);
}

.new_div-info {
  position: absolute;
  right: 0;
  top: 0;
  /* transform: translate(50%, 10%); */

  z-index: 3;
  width: 50%;
  height: 100%;
  padding: 5%;
  font-family: "Poppins", sans-serif;
  color: var(--light-color);
}

.new_div-info p {
  margin-bottom: 10%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: x-large;
}

.new_div-close {
  position: absolute;
  right: 5vw;
  top: 10vh;
  z-index: 10;
  font-size: xx-large;
  color: var(--white); /* ımgFocusClose() */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  padding-top: 1px;
  transition: ease 300ms;
}

.new_div-close:hover {
  background-color: var(--main-color);
  color: var(--light-color);
}

.galeri_content {
  background-color: var(--main-color);
  width: 100vw;
  height: 1000px;
  left: 0;
  top: 10vh;
  position: relative;
  transition: ease 400ms;
}

.galeri_content b {
  position: relative;
  top: 50px;
}

.galeri_page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  opacity: 0;
  width: 0%;
  grid-template-columns: repeat(4, 20%);
  gap: 1rem;
  transition: ease 300ms;
  justify-content: center;
}

.galeri_page.show {
  display: grid;
  width: 100%;
  opacity: 100%;
  grid-template-columns: repeat(4, 20%);
  gap: 1rem;
}

.line {
  position: absolute;
  width: 94%;
  height: 0;
  left: 3%;
  top: 100px;

  border: 2px solid #3e54ac;
}

.galeri_page-counter {
  font-size: larger;
  color: var(--white);
  background-color: var(--dark-color);
  padding: 10px;
  border-radius: 14px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  opacity: 0;
  transition: ease 400ms;
}

.arrow1 {
  position: absolute;
  left: 2rem;
  top: 50%;
  color: 2px var(--black);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: xx-large;
  font-weight: bolder;
  padding-left: 11px;
}

.arrow2 {
  position: absolute;
  right: 2rem;
  top: 50%;
  color: 2px var(--black);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: xx-large;
  font-weight: bolder;
  padding-left: 13px;
}

.arrow1:hover,
.arrow2:hover {
  background-color: var(--white);
  color: var(--side-color);
}

/*.gallery > div > image {
  box-sizing: border-box;

  position: absolute;
  width: 270.06px;
  height: 269.91px;
  left: 72px;
  top: 3338.95px;
  
  background: none;
  mix-blend-mode: normal;
  border: 1px solid rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support 
  
  transform: rotate(-0.2deg);
} */

.image {
  box-sizing: border-box;

  position: relative;
  width: 20%a;
  height: 20%a;
  margin-left: auto;
  margin-right: auto;
  top: 50px;

  border: 1px solid --main-color#3d4149(0, 0, 0, 0.28);
  backdrop-filter: blur(2px);
}

.image img {
  width: 17vw;
  height: 17vw;
  object-fit: cover;
  border-radius: 14%;
}

.image_div_content {
  /* HELLO WORLD TAKIMIMIZDAN KARELER */

  box-sizing: border-box;
  box-shadow: inset;

  position: absolute;
  width: 100%;
  height: 15px;
  transform: translateY(-100%);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  /* identical to box height */

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;

  text-align: center;

  color: var(--white);

  /* border: 0.5px solid #FFFFFF;
text-shadow: 0px 4px 4px --light-color#d4d9df(0, 0, 0, 0.25);
backdrop-filter: blur(2px); */

  border: 0.5px solid var(--main-color);
  text-shadow: 0px 4px 4px --main-color(0, 0, 0, 0.25);

  background: rgba(61, 65, 73, 0.65);
  backdrop-filter: blur(2px);

  /* Note: backdrop-filter has minimal browser support */
}

h1 {
  margin: 50px;
  font-size: 20px;
  font-weight: 300;
  color: var(--white);
}

/* responsive in gallery */

@media (max-width: 800px) {
  .galeri_content {
    width: 100%;
    height: 1000px;
    transition: ease 400ms;
  }

  .galeri_page.show {
    width: 80%;
    height: 80%;
    grid-template-columns: 40% 40%;
    grid-template-rows: 20% 20% 20% 20%;
    column-gap: 2rem;
  }
  .image {
    width: 100%;
    text-align: center;
  }
  .image img {
    width: 60%;
    height: 100%;
    object-fit: contain;
  }
  .image_div_content {
    font-size: 10px;
  }
  .new_div img {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    height: 40%;
    width: 80%;
    object-fit: contain;
    background-color: #000000e1;
  }
  .new_div-info {
    position: absolute;
    right: 0;
    top: 50%;
    /* transform: translate(50%, 10%); */

    z-index: 3;
    width: 95%;
    height: 40%;
    padding: 5%;
    font-family: "Poppins", sans-serif;
    color: var(--light-color);
  }

  .new_div-info p {
    margin-bottom: 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: medium;
  }
  .arrow1 {
    left: 5px;
  }
  .arrow2 {
    right: 5px;
  }
}

/* galeri */

/* iletişim */
/* iletişim */

/* responsiveness */

/* navbar */
/* navbar */

/* giriş ekranı */
/* giriş ekranı */

/* biz kimiz */
@media only screen and (max-width: 1700px) {
  .bizkimiz--content {
    margin-left: 50px;
  }

  .bizkimiz--img_slider {
    right: 150px;
    width: 650px;
    height: 330px;
  }
  .bizkimiz--img_slider .arrow-right {
    transform: translateX(570px);
  }
  .slides {
    background-color: var(--light-color);
    border: var(--side-color) 10px outset;
    border-radius: 5px;
    width: 650px;
    height: 330px;
    position: relative;
    bottom: 15px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1465px) {
  .bizkimiz--section {
    padding-top: 2rem;
  }
  .bizkimiz--content {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
  .bizkimiz--img_slider {
    display: block;
    position: relative;
    width: 700px;
    height: 360px;
    top: 2rem;
    right: 0;
    float: none;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .slides {
    background-color: var(--light-color);
    border: var(--side-color) 10px outset;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 15px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 950px) {
  .bizkimiz--content {
    font-size: small;
  }
  .bizkimiz--img_slider {
    display: block;
    position: relative;
    width: 80%;
    height: 40vw;
    right: 0;
    float: none;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .bizkimiz--img_slider .arrows {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 10%;
    column-gap: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0px;

    z-index: 10;
  }
  .bizkimiz--img_slider .arrows .arrow-left,
  .bizkimiz--img_slider .arrows .arrow-right {
    justify-self: center;
    width: 20px;
    height: 20px;
    font-size: small;
    padding-top: 2px;
  }

  .bizkimiz--img_slider .dots {
    font-size: 10px;
    color: var(--light-color);
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: grid;
    grid-template-rows: 15px;
    grid-template-columns: repeat(auto-fill, 10px);
    width: 55px;
    height: 15px;
    column-gap: 5px;
    transition: ease 300ms;
    z-index: 5;
  }

  .slides {
    border: var(--side-color) 6px outset;
  }
  .bizkimiz--text_slider .tag {
    font-size: small;
  }
}
@media only screen and (max-width: 700px) {
  .bizkimiz--content {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .bizkimiz--text_slider {
    width: 90%;
    top: 3vh;
  }
}
/* biz kimiz */

/* takım sayfası */
.TeamMain {
  position: relative;
  top: 20vh;
  background-color: #d4d9df;
  margin: 0;
  height: 800px;
  width: 100%;
}

.TeamHeader h1 {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 40px;
  color: #000;
  margin-left: 15%;
}

.TeamHeader p {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  color: #000;
  margin-left: 15%;
}

.Team {
  list-style-type: none;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.TeamLogo {
  display: inline-block;
  width: 400px;
  height: 100px;
  text-align: center;
  line-height: 50px;
  margin: 5px;
  padding: 10px 92px;
}

.TeamLogoCircle {
  margin: auto;
  background-color: var(--white);
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.TeamLogoCircle img {
  max-width: 180px;
  max-height: auto;
  border-radius: 50%;
  border-width: 20px;
  border-style: solid;
  border-color: #fff;
}

.TeamLogo h3 {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 25px;
}
@media screen and (max-width: 862px) {
  .TeamMain {
    background-color: #d4d9df;
    background-size: 100%;
    padding-top: 2vh;
    padding-bottom: 3vh;
    transition: 1s all;
  }

  .TeamHeader h1 {
    text-decoration: none;
    font-family: "Poppins";
    font-size: 20px;
    transition: 1s all;
    margin: 0;
    margin-left: 15%;
  }

  .TeamHeader p {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 10px;
    transition: 1s all;
    margin-left: 15%;
  }

  .Team {
    width: 100%;
    height: 90%;
    display: grid;
    justify-content: center;
  }

  .TeamLogo {
    display: inline-block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 25px;
    margin: 2px;
    padding: 5px 46px;
    transition: 1s all;
  }

  .TeamLogoCircle {
    margin: auto;
    background-color: var(--white);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    transition: 1s all;
  }

  .TeamLogoCircle img {
    max-width: 90px;
    max-height: auto;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #fff;
  }

  .TeamLogo h3 {
    text-decoration: none;
    font-family: "Poppins";
    font-size: 13px;
    transition: 1s all;
  }
}

/* takım sayfası */

/* iletişim */
.communicationMain {
  position: relative;
  /* top: 100vh; */
  background-color: #d4d9df;
  display: grid;
  grid-template-rows: auto auto;
  background-size: cover;
  padding-bottom: 5%;
  width: 100%;
  height: 100%;
}

.communicationPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.communicationTitle {
  font-family: "Poppins";
  font-size: 40px;
  padding-left: 6%;
  color: #000;
}

.communicationMap {
  width: 450px;
  height: 450px;
  border-left: 10px var(--side-color) outset;
  border-bottom: 10px var(--side-color) outset;
  border-top: 0px;
  border-right: 0px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.communicationPagetextpage {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: var(--black);
}

.communicationClubLogo {
  width: 300px;
  height: auto;
}

.communicationSchoolLogo {
  width: 300px;
  height: auto;
}
@media screen and (max-width: 862px) {
  .communicationTitle {
    transition: 1s all;
    font-size: 30px;
    padding-left: 2%;
  }
  .communicationMain {
    transition: 1s all;
    align-items: center;
    /* padding-left: 2%; */
  }

  .communicationPage {
    width: 100%;
    height: 100%;
    transition: 1s all;
    align-items: center;
    justify-content: space-around;
  }

  .communicationMap {
    width: 350px;
    height: 350px;
    transition: 1s all;
    align-items: center;
  }
  .communicationPagetextpage {
    font-size: 10px;
  }

  .communicationClubLogo,
  .communicationSchoolLogo {
    width: 150px;
    transition: 1s all;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .communicationPage {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    text-align: center;
  }
  .communicationMap {
    margin: auto;
  }
  .communicationPagetextpage {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    text-align: center;
    height: 200px;
  }

  .communicationClubLogo {
    width: 150px;
    position: absolute;
    left: 5%;
  }

  .communicationSchoolLogo {
    width: 150px;
    position: absolute;
    right: 5%;
  }
}

/* iletişim */

/* footer */

.footer-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  text-decoration: none;
  z-index: 20;
  /* top: 400vh; */
  padding-bottom: 0;
  margin-bottom: 0;
}
.footer-wrapper {
  display: grid;
  grid-template-rows: 70px 40px;
}

.footer-list {
  background-color: var(--main-color);
  display: flex;
}
.footer-list a {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: larger;
  height: min-content;
  border-bottom: var(--main-color) 1px solid;
  transition: ease 200ms;
}

.footer-list a:hover {
  border-bottom: var(--white) 2px solid;
  margin-bottom: 2px;
}

.footer_content {
  background-color: var(--dark-color);
}

.footer-design {
  color: var(--white);
  position: relative;
  left: 50px;
  top: 13px;
  width: 200px;
}

.social-links {
  position: absolute;
  top: 80px;
  right: 50px;
  display: flex;
  gap: 30px;
}

.social-links a {
  color: var(--white);
  font-size: x-large;
  transition: ease 400ms;
}

.social-links a:hover {
  color: var(--light-color);
  transform: rotateY(360deg);
}
@media (max-width: 510px) {
  .footer-wrapper {
    grid-template-rows: 250px 100px;
  }

  .footer-list {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    /* justify-content: center; */
    text-align: center;
    padding-top: 30px;
  }
  .footer-list a {
    margin: 0;
  }

  .footer-content {
    display: grid;
  }

  .footer-design {
    position: absolute;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
  }

  .social-links {
    top: 100%;
    transform: translate(50%, -130%);
    right: 50%;
    height: 30px;
    position: absolute;
  }
}

/* footer */

/* responsiveness */
@media screen and (max-height: 800px) {
  .bizkimiz--section {
    height: 800px;
  }
}
/* responsiveness */
