root {
  --main-color: #3d4149;
  --dark-color: #101010;
  --light-color: #d4d9df;
  --side-color: #3d52a5;
  --black: #000;
  --white: #fff;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: backdrop;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.login {
  background-color: var(--light-color);
  height: 400px;
  width: 300px;
  margin: auto;
  border: var(--side-color) 5px outset;
  transition: ease 300ms;
  display: initial;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  display: none;
}

.edit {
  transition: ease 300ms;
  display: initial;
}

h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
}

input {
  width: 90%;
}

p {
  margin: 20px;
  display: grid;
}

.submit {
  width: min-content;
  font-size: large;
  margin-left: 20px;
  margin-top: 15px;
}

.bildirim-sil {
  height: 300px;
  overflow: scroll;
  border: var(--black) 2px solid;
}

.bildirimler {
  border: var(--black) 2px solid;
}

.takımlar {
  border: var(--black) 2px solid;
}
.galeri-resim {
  border: var(--black) 2px solid;
}
.etkinlikler {
  border: var(--black) 2px solid;
}
.sponsor {
  border: var(--black) 2px solid;
}

.corporate-communication-member-remove {
  height: 300px;
  overflow: scroll;
  border: var(--black) 2px solid;
}
.directory-team-member-remove {
  height: 300px;
  overflow: scroll;
  border: var(--black) 2px solid;
}
.helloworld-member-remove {
  height: 300px;
  overflow: scroll;
  border: var(--black) 2px solid;
}
.otonom-member-remove {
  height: 300px;
  overflow: scroll;
  border: var(--black) 2px solid;
}
.roket-member-remove {
  height: 300px;
  overflow: scroll;
  border: var(--black) 2px solid;
}
.otonom-member-remove {
  height: 300px;
  overflow: scroll;
  border: var(--black) 2px solid;
}
.otonom-member-remove {
  height: 300px;
  overflow: scroll;
  border: var(--black) 2px solid;
}

.helloworld-üye {
  border: var(--black) 2px solid;
}
.otonom-üye {
  border: var(--black) 2px solid;
}
.roket-üye {
  border: var(--black) 2px solid;
}
.dataai-üye {
  border: var(--black) 2px solid;
}
.core-üye {
  border: var(--black) 2px solid;
}
