root {
  --main-color: #3d4149;
  --dark-color: #101010;
  --light-color: #d4d9df;
  --side-color: #3d52a5;
  --black: #000;
  --white: #fff;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("/admin/Asimov_Logolar/asimovmainbackground.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: difference;
}

* {
  box-sizing: backdrop;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.login {
  background-color: var(--light-color);
  height: 400px;
  width: 300px;
  margin: auto;
  border: var(--side-color) 5px outset;
  transition: ease 300ms;
  display: initial;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

.edit {
  transition: ease 300ms;
  display: initial;
}

h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
  font-family: "poppins";
  font-size: 5vh;
  color: #f0e6ca;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

label {
  font-size: 13px;
  font-family: sans-serif;
  color: #331c1c;
  text-shadow: 1px 1px 3px #dcd7ca;
  font-weight: 600;
  padding-top: 3%;
}

input {
  width: 90%;
}

input[type="submit"] {
  background-color: #756b59;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5%;
}

input[type="submit"]:hover {
  background-color: #4c9c41;
}

input[type="submit"]:active {
  background-color: #2f8109;
}

input[type="submit"]:disabled {
  background-color: #626241;
}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  transition: width 0.4s ease-in-out;
  border-radius: 5%;
}

input[type="text"]:focus {
  background-color: rgb(225, 211, 178);
  width: 43%;
  transition: width 0.4s ease-in-out;
}

input[type="file"] {
  background-color: #c2b39958;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  border: #434038 1px solid;
  border-radius: 5%;
  margin-top: 2%;
  transition: width 0.4s ease-in-out;
}

input[type="file"]:hover {
  background-color: #a0937b;
}

input[type="file"]:active {
  background-color: #b4a069;
}

.lineadmin {
  border: #3b3434 1px solid;
  width: 85vh;
  text-align: center;
}

p {
  margin-top: 5vh;
  margin-bottom: 1vh;
  display: grid;
  font-family: "Poppins";
  font-size: 3vh;
  color: #322727;
  text-shadow: 0px 0px 10px #cccccc;
  font-weight: 800;
  text-align: left;
}

.submit {
  width: min-content;
  font-size: large;
  margin-left: 20px;
  margin-top: 15px;
}

.bildirim-sil {
  height: 300px;
  overflow: scroll;
  border: var(--black) 2px solid;
}

.bildirimler {
  border: var(--black) 2px solid;
}

.takımlar {
  border: var(--black) 2px solid;
}
.galeri-resim {
  border: var(--black) 2px solid;
}
.etkinlikler {
  border: var(--black) 2px solid;
}
.sponsor {
  border: var(--black) 2px solid;
}
.kurumsal-iletişim-üye {
  border: var(--black) 2px solid;
}
.yönetim-kurulu-üye {
  border: var(--black) 2px solid;
}
.helloworld-üye {
  border: var(--black) 2px solid;
}
.otonom-üye {
  border: var(--black) 2px solid;
}
.roket-üye {
  border: var(--black) 2px solid;
}
.dataai-üye {
  border: var(--black) 2px solid;
}
.core-üye {
  border: var(--black) 2px solid;
}
