:root {
  --main-color: #3d4149;
  --dark-color: #101010;
  --light-color: #d4d9df;
  --side-color: #3d52a5;
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--white);
}

/* navbar */
/* navbar */

/* section1 */
/* section1 */

/* timeline */
/* timeline */

/* sayaç */
/* sayaç */

/* etkinliklerimiz */
/* etkinliklerimiz */

/* etkinlik slider */

.başarılar_container{

  position: absolute;
  text-align: center;
  left: 43vw;
    color: var(--black);

}

.başarılar--img_left {
  position: absolute;
width: 223px;
height: 409px;
left: -24vw;
top: 15vw;

background: #D4D9DF;
box-shadow: 0px 10px 4px #3E54AC;
border-radius: 15px;
}


.başarılar--img_middle {
  position: absolute;
width: 327px;
height: 600px;
left: -4vw;
top: 10vw;

background: #D4D9DF;
box-shadow: 0px 10px 4px #3E54AC;
border-radius: 15px;
}

.başarılar--img_right{
  position: absolute;
width: 223px;
height: 409px;
left: 24vw;
top: 15vw;

background: #D4D9DF;
box-shadow: 0px 10px 4px #3E54AC;
border-radius: 15px;
}
/* etkinlik slider */

/* sponsor işbirlik */
/* sponsor işbirlik */

/* footer */
/* footer */
