:root {
  --main-color: #3d4149;
  --dark-color: #101010;
  --light-color: #d4d9df;
  --side-color: #3d52a5;
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* navbar */
/* navbar */

/* içerik  */

.yönetimkurulusayfası {
  position: absolute;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 7vw;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.yönetimkurulusayfasıiçerik {
  width: 100%;
  height: 20%;
}
.yönetimkurulusayfasıiçerik h1 {
  font-size: xx-large;
  font-weight: bolder;
  color: var(--black);
  margin: 0;
}

.slider-container {
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-50%);
  width: 60%;
  height: 55vh;
  position: fixed;
  top: 75%;
  left: 55%;
  transform: translate(-50%, -50%);
  overflow: visible;
}
.slide {
  width: 80%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid var(--side-color);
}
.slide.active {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #3d4149;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -25px;
}

.prev {
  left: -60px;
  top: calc(40% - 25px);
  margin-top: 50px;
}

.next {
  right: -60px;
  top: calc(40% - 25px);
  margin-top: 50px;
}

.prev:hover,
.next:hover {
  color: white;
  background-color: #3d4149;
  border-radius: 50%;
}

.yönetimkuruludots {
  position: absolute;
  bottom: 80px;
  left: 40%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #d4d9df;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}

.dot.active {
  background-color: #3d4149;
}

/* içerik  */

/* üyeler */
/* üyeler */

/* footer */
/* footer */

/*responsive*/

@media (max-width: 800px) {
  .slider-container {
    width: 70%;
    height: 50vh;
    top: 80%;
  }
  .slide {
    width: 80%;
    height: 300px;
  }
  .prev {
    top: 50%;
    margin-top: 0;
  }
  .next {
    top: 50%;
    margin-top: 0;
  }
  .yönetimkurulusayfası {
    padding-top: 5vw;
  }
  .yönetimkuruludots {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
  }
  .dot {
    height: 8px;
    width: 8px;
    background-color: #d4d9df;
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
    cursor: pointer;
  }
}

/*responsive*/
